:root {
    --bg-color: #24242B; /* color fondo */
    --p-color: #EDEDED; /* text color */
    --btn-bg:#BB8D38;
    --btn-bg-hover:#D4B74E;

    --btn-text: #24242B;
    --secundario: #abd1c6;
    --text-secundario: #001e1d;
    --main-color: #fffffe;
}
*{
    font-family: 'Roboto', monospace !important;
}
body{
    background-color: var(--bg-color);
}
h1 , h2 , h3 , h4 , h5 , h6 {
    color:var(--p-color);
    font-weight: bold;
    letter-spacing: 2px;
}
p{
    color:var(--p-color);
}
.wave-bot{
    position: absolute;
    bottom: 0;
    margin: 0;
}
.wave-top{
    position: absolute;
    margin: 0;
}
.nombre{
    font-size: 3rem !important;
    font-weight: bold;
    letter-spacing: 2px;
}
.text-titulo{
    font-size: 1.7em !important;
}
.text-titulo h1{
    font-size: 2.5em !important;
}
.btn{
    background-color: var(--btn-bg) !important;
    color: var(--btn-text);
    border: none !important;
    border-radius: 2px;
}
.btn:hover{
    background-color: var(--btn-bg-hover) !important;
}
.descarga{
    position: fixed;
    width: 200px;
    top: 40%;
    right: 0;
    border: 1px solid var(--bg-color);
}
.sobre-mi{   
    background-color: var(--p-color) ;
    color: var(--bg-color);
}
.skill{
    height: 300px;
    padding: 50px;
    background-color: var(--bg-color);
}
.icon{
    height: 70px;
}
.seccion-icon{
    width: 50%;
}
.lenguajes{
    color: var(--main-color) !important;
}
.seccion-lenguajes{
    width: 50%;
    margin-left: 50px;
}
.card{
    border: 0px solid var(--text-secundario) !important;
    border-bottom: 0px solid var(--text-secundario) !important;
    z-index: 1;
    border-radius: 0;
    width: 350px !important;
}
.card-body{
    background-color: var(--main-color);
}
.card-body h5 , .card-body p{
    color: var(--bg-color) !important;
}
.borde-texto{
    border-width: 0px 0px 2px 0px !important;
    border-color: var(--text-secundario) !important;
    border-style: solid;
    width: 75%;
    transition: all .2s linear;
}
.card:hover .borde-texto{
    width: 100%;
}
.wordpress{
    color: #207195 !important;
    font-weight: bold;
}
.php{
    color: #3e4665 !important;
    font-weight: bold;
}
.js{
    color: #b8a200 !important;
    font-weight: bold;
}
.tool-img{
    height: 30px;
}
.card-link{
    text-decoration: none;
    color: rgb(83, 71, 0);
    margin-top: 5px;
}
.detector{
    height: 120%;
    width: 100%;
    position: absolute;
    top: -50px;
    opacity: 0;
    background-color: aqua;
    z-index: 50;
}
.seccion-clara{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.seccion-clara h1, .seccion-clara p{
    color: var(--bg-color) !important;
}
.footer{
    height: 80vh;
}
.form{
    background-color: var(--bg-color);
    color: var(--p-color);
    width: 100%;
}

@media (max-width: 991.98px) {

}